# http://www.gnu.org/software/automake

Makefile.in
.DS_Store
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache

# global build product
*.o

# simple tests
simple/simptest
simple/simpclient
simple/xnspace

# multibeat tests
multibeat/jctrl

# cross-version tests
crossversion/install
crossversion/pmix-*
crossversion/run_result.txt

# unit tests
unit/.deps/
unit/aclocal.m4
unit/config.log
unit/config.status
unit/config/ar-lib
unit/config/compile
unit/config/config.guess
unit/config/config.sub
unit/config/depcomp
unit/config/install-sh
unit/config/libtool.m4
unit/config/ltmain.sh
unit/config/ltoptions.m4
unit/config/ltsugar.m4
unit/config/ltversion.m4
unit/config/lt~obsolete.m4
unit/config/missing
unit/configure
unit/libtool
unit/ltmain.sh
unit/pmi2_client
unit/pmi_client
unit/pmix_client
unit/pmix_regex
unit/pmix_test
unit/Makefile
unit/Makefile.in
